.profile-center-container {
    width: 100%;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-container {
    background-color: #f4f4f4;
    border: 2px solid var(--green);
    border-radius: 24px;
    width: 650px;
    height: 550px;
    padding: 24px;
}

.profile-container input {
    border: 1px solid var(--green);
}

.password-fine-container {
    display: flex;
    justify-content: space-between;
}

.fine {
    color: red !important;
}